flask==3.1.1
gunicorn==23.0.0
python-dotenv==1.1.1

langchain==0.3.26
langchain-openai==0.3.24
langchain-community==0.3.26
langchain-groq==0.3.5
langchain-pinecone==0.2.12

pinecone==7.3.0
pypdf==5.9.0
sentence-transformers==5.0.0